{# Here is where you would extend the parent template that blocks inherit from #}
{% extends 'index.html' %}
{#<h1>{{ poll.question }}</h1>#}
{#<ul>#}
{#	{% for choice in poll.choice_set.all %}#}
{#	<li>{{ choice.choice_text }}</li>#}
{#	{% endfor %}#}
{#</ul>#}


{# block content is for when you want to overwrite content in an html page #}
{# for django template inheritance. Template inheritance allows you to build a base skeleton template #}
{# that contains all the common elements of your site and defines blocks that child templates can override #}

{% block content %}
{# Here is where if you wanted to still include the attributes from the parent template #}
{# i.e. append them to this page #}
{{ block.super }}

{# then continue with your template logic #}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choices.all %}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <input type=radio name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
{% endfor %}
<input type="submit" value="Vote" />
</form>

{# don't forget your endblocks #}
{% endblock content %}

{# if you had to create choices via code instead of the admin panel #}
{# remember this here         #}
{# from polls.models import * #}
{# polls= Poll.objects.all    #}
{# poll.choices.all           #}
{# how to create new choice objects #}
{# choice = Choice.objects.create(poll=polls[1], choice_text='I hate the show glee') #}


